@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  text-decoration: none;
  transition: 0.5s;
}

input:focus, button:focus, textarea:focus {
  outline-width: 0;
}

a {
  color: white;
}

body {
  overflow-x: hidden;
  background-color: transparent;
}

#homePage, #sponsorsPage, #team, #spotlight, #radiblog, #contactUsPage, #donate {
  animation: fadeInAnimation ease .8s;
  animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* Mobile Navigation Bar Styeles---------------------------------------------------*/
/* ---------------------------- ---------------------------------------------------*/

@media only screen and (max-device-width: 380px) {
  .overlay-content{visibility: none;}
  .mobileNab{visibility:visible}
  .mobileNav {
    padding: .5vw;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1.25vw;
    transition: 0.5s;
    background-color: transparent;
    text-shadow: -3px 2px 2px #cccccc;
  }
  .mobileNav:hover {
    background-color: black;
    color: rgb(0, 199, 0);
    border-radius: 8px;
    font-size: 1.5vw;
    text-shadow: none;
  } 
}

/* if mobile device max width 480px
@media only screen and (max-device-width: 480px) {
 .mobile_device_480px{display: block;}
 .desktop {display: none;}
} */

/* .mobileNav {
  padding: .5vw;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.25vw;
  transition: 0.5s;
  background-color: transparent;
  text-shadow: -3px 2px 2px #cccccc;
}

.mobileNav:hover {
  background-color: black;
  color: rgb(0, 199, 0);
  border-radius: 8px;
  font-size: 1.5vw;
  text-shadow: none;
} */


/* Start Navigation Bar ---------------------------------------------------*/

/* a.signin:hover {
  background-color: lightgrey;
  border-radius: 10px;
  font-size: 20px;
}

a .img:hover {
  height: 120%;
}

a.logo {
  font-size: 30px;
  margin-left: 5px;
}

a.logo img {
  margin-top: 5px;
  height: 100%;
  transition: .3s;
}

a.signin {
  margin-right: 10px;
} */
/* 
navleft {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}

navright {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}

.searchBar input {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding-left: 5px;
} */

/* a.nav {
  padding: .4vw;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(34, 34, 34);
  font-size: 1.15vw;
  background-color: transparent;
}

a.nav:hover {
  background-color: rgb(34, 34, 34);
  color: rgb(0, 199, 0);
  border-radius: 8px;
  font-size: 1.5vw;
} */

/* #NavBar {
  text-align: center;
  padding: 2vw;
  background-color: rgba(255, 255, 255, 50%);
  border-radius: 10px 10px 0px 0px;
  margin: 0vw 24vw !important;
} */

.container {
  position: fixed;
  cursor: pointer;
  background-color: rgb(34, 34, 34);
  border-radius: 10%;
  padding: .93%;
  padding-right: 1.5%;
  left: 1%;
  top: 2.6%;
  height: 5.25%;
  width: 2.5%;
  z-index: 1;
}

.bar1, .bar2, .bar3 {
  width: 120%;
  height: 13%;
  background-color: rgb(0, 199, 0);
  margin: 21% 0;
  transition: .4s;
  border-radius: 10%;
}

/* .change .bar1 {
  width: 1.75vw;
  transform: translate(.8vw, .8vh) rotate(15deg);
}

.change .bar2 {opacity: 100; width: 2.55vw; border-radius: 20px;}

.change .bar3 {
  width: 1.75vw;
  transform: translate(.8vw, -.8vh) rotate(-15deg);
} */

.overlay {
  height: 8.5%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 5%;
  top: 2.6%;
  background-color: none;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  border-radius: 0px 10px 10px 0px;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 4%;
  background-color: rgb(34, 34, 34);
}

.overlay a {
  padding: 1%;
  text-decoration: none;
  font-size: 0vw;
  background-color: transparent;
}

.overlay a:hover, .overlay a:focus {
  color: rgb(0, 199, 0);
  border-radius: 8px;
}

/* End Navigation Bar ---------------------------------------------------*/

/* Title + Background -------------------------------- */

#coverVideo {
  z-index:-1;
  width: 100%;
  border-radius: 2px;
  top: 0 !important;
  left: 0 !important;
  position: fixed;
}

h {
  background-color: transparent;
}

.title {
  padding-top: 12%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 60%);
  margin: 0vw 25%;
}

.title img {
  background-color: transparent;
  width: 85%;
  padding: 2% 0% 20% 0%;
}

.socials {
  text-align: center;
  margin: 0% 25%;
  padding-bottom: 3%;
  background-color: rgba(255, 255, 255, 60%);
  border-radius: 0px 0px 10px 10px;
}

.socials a {
  background-color: transparent;
}

.socials a.socialLogo img {
  background-color: transparent;
  width: 3vw;
  padding: 0% 1.5%;
}

/* End Title + Background -------------------------------- */

/* About us styles ---------------------------------- */

.aboutUs h1 {
  font-size: 3vw;
  color: rgb(0, 199, 0);
  padding: 5% 3% 1% 15%;
}

.aboutUs .pText {
  color: white;
  font-size: 1.35vw;
  padding: 0% 60% 10% 15%;
}

.aboutUs .teamPic {
  margin: 0;
  position: absolute;
  width: 40%;
  top: 60vw;
  left: 50vw;
}

.aboutUs .imgDescription {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 90vw;
  left: 76vw;
  background-color: transparent;
}
/* End about us styles ---------------------------------- */

/* Footer Styles ---------------------------- */
footer {
  align-items: center;
}

footer .socials {
  padding: 2.5% 0vw;
  background-color: transparent;
}

footer .socials a.socialLogo img {
  background-color: transparent;
  width: 3vw;
  padding: 0% 1.5%;
}

footer .organizationInfo {
  color: white;
  padding: 0% 25% .5% 30%;
  font-size: 1vw;
}

/* End Footer Styles ------------------------ */



/* Sponsors Page --------------------------- */
/* .commonNav {
  margin: 0 28vw;
  margin-top: 2.5vw;
  text-align: center;
}

.commonNav a {
  color: white;
} */

.sponsors {
  font-size: 8vw;
  color: white;
  text-align: center;
}

.sponsorsTabs {
  margin-left: 20%;
}

.sponsorsTabs a {
  font-size: 1.5vw;
  padding: 5% 8%;
  margin-left: 3%;
  border: 2px solid rgb(0, 199, 0);
  border-radius: 10px;
}

.sponsorsTabs #becomeSponsor {
  margin-left: 22%;
}

.sponsorsTabs a:hover {
  color:rgb(0, 199, 0);
  border: 2px solid white;
  font-size: 1.65vw;
}

.aboutFooter {
  background-color: rgb(34, 34, 34);
}

/* End Sponsors Page --------------------------- */


/* Contact Us Page --------------------------- */
.nav {
  opacity: 0%;
}

.contactUs {
  font-size: 8vw;
  color: white;
  text-align: center;
}

.contactUsForm {
  margin-left: 30%;
  margin-right: 30%;
}

.qAns {
  margin-top: 1%;
  font-size: 1.1vw;
  color: white;
  width: 40%;
  border: none;
  border-bottom: solid 2px white;
  padding: 1%;
}

.qLabel {
  font-size: 1.3vw;
  color:rgb(0, 199, 0);
}

.submitButton {
  padding: 3% 44%;
  color:rgb(0, 199, 0);
  border: 2px solid rgb(0, 199, 0);
  font-size: 1.5vw;
}

.submitButton:hover, .applyButton:hover {
  color:rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  background-color: white;
}

.applyNow {
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-size: 3vw;
}

.applyButton {
  margin-left: 30%;
  margin-right: 30%;
  padding: 2% 0%;
  width: 40%;
  color:rgb(0, 199, 0);
  border: 2px solid rgb(0, 199, 0);
  font-size: 1.5vw;
}

/* End Contact Us Page --------------------------- */