@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: black;
}

body {
  overflow-x: hidden;
  background-color: transparent;
}

/* Start Navigation Bar ---------------------------------------------------*/

/* a.signin:hover {
  background-color: lightgrey;
  border-radius: 10px;
  font-size: 20px;
}

a .img:hover {
  height: 120%;
}

a.logo {
  font-size: 30px;
  margin-left: 5px;
}

a.logo img {
  margin-top: 5px;
  height: 100%;
  transition: .3s;
}

a.signin {
  margin-right: 10px;
} */
/* 
navleft {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}

navright {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0;
}

.searchBar input {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding-left: 5px;
} */

a.nav {
  padding: .4vw;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.15vw;
  transition: 0.5s;
  background-color: transparent;
  text-shadow: -.2vw .1vw 2px #cccccc;
}

a.nav:hover {
  background-color: black;
  color: rgb(0, 199, 0);
  border-radius: 8px;
  font-size: 1.5vw;
  text-shadow: none;
}

.navTitle nav {
  text-align: center;
  padding: 2vw;
  background-color: transparent;
  margin: 0;
}

/* End Navigation Bar ---------------------------------------------------*/

/* Title + Background -------------------------------- */
.navTitle {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 60%);
  margin: 0vw 25vw;
}

#coverVideo {
  z-index:-1;
  width: 100%;
  border-radius: 3px;
  top: 0 !important;
  left: 0 !important;
  position: fixed;
}

.navTitle h {
  background-color: transparent;
}

.navTitle .title {
  padding-top: 12vw;
  text-align: center;
  font-size: 3vw;
  background-color: transparent;
}

.navTitle .title img {
  top: 2vw;
  left: 30vw;
  background-color: transparent;
  width: 40vw;
  padding: 0.2vw 0vw 12vw 0vw;
}

.navTitle .socials {
  padding-bottom: 2vw;
  background-color: transparent;
}

.navTitle .socials a {
  background-color: transparent;
}

.navTitle .socials a.socialLogo img {
  background-color: transparent;
  width: 3vw;
  padding: 0vw .5vw;
}

/* End Title + Background -------------------------------- */

/* About us styles ---------------------------------- */

.aboutUs h1 {
  font-size: 3vw;
  color: rgb(0, 199, 0);
  padding: 5vw 3vw 1vw 15vw;
}

.aboutUs .pText {
  color: white;
  font-size: 1.35vw;
  padding: 0vw 55vw 10vw 15vw;
}

.aboutUs .teamPic {
  margin: 0;
  position: absolute;
  width: 40vw;
  top: 60vw;
  left: 50vw;
}

.aboutUs .fun {
  width: 2vw;
  position: absolute;
}

.aboutUs .imgDescription {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 90vw;
  left: 76vw;
  background-color: transparent;
}
/* End about us styles ---------------------------------- */

/* Footer Styles ---------------------------- */
footer {
  align-items: center;
}

footer .socials {
  padding: 2vw 0vw;
  padding-left: 43vw;
  background-color: transparent;
}

footer .socials a.socialLogo img {
  background-color: transparent;
  width: 3vw;
  padding: 0vw .5vw;
}

footer .organizationInfo {
  color: white;
  padding-left: 30vw;
  padding-bottom: .5vw;
  font-size: 1vw;
}

/* End Footer Styles ------------------------ */



/* Sponsors Page --------------------------- */
nav {
  margin: 0 28vw;
  margin-top: 2.5vw;
  text-align: center;
}

.sponsorsNav a {
  color: white;
}

.sponsors {
  font-size: 8vw;
  color: white;
  padding: 2vw 3vw 0vw 5vw;
  text-align: center;
}

.aboutFooter {
  background-color: black;
}

/* End Sponsors Page --------------------------- */