body {
    background-color: #dadada;
}

.links a {
    background-color:#00bfff;
    color: black;
    margin: 5px 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration-line: none;
    font-size: larger;
    display: relative;
    
}

.links a:hover {
    border: 3px solid black;
    background-color: #5fd7ff;
}

.banner a {
    background-color:deepskyblue;
    margin: 10px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}

.banner a:hover {
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.searchBar #search {
    color: black;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    float: right;
    margin-top: 5px;
}

button {
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
  
svg {
    background-color: white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

#printSearch {
    font-size: larger;
}

.topNav a{
    float: left;
}

.topNav {
    overflow: hidden;
    background-color: #cdcdcd;
}

.fisdImage {
    overflow: hidden;
    float: left;
    background-color: #cdcdcd;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 7%;
    height: 7%;
}

